h1 {
    text-align: center;
    size: 50px;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
}

p {
   text-align: center;
    size: 50px; 
}

body {
    color: skyblue;
}

summary {
    text-align: center;
    size: 50px; 
}

audio {
    text-align: center;
}

article {
    text-align: center;
}

figure {
    text-align: center;
}

footer {
    text-align: center;
}

nav {
    text-align: center;
}