h1 {
    text-align: center;
    size: 50px;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: rgb(113, 174, 248);
    text-decoration: underline;
}

p {
    text-align: center;
    size: 50px;
    color: darkblue; 
}
.tachado {
    text-decoration: line-through;
} 
.cursiva {
    font-style: italic;
}

summary {
   color: darkblue;
}

body {
    color: skyblue;
}

summary {
    text-align: center;
    size: 50px; 
}

audio {
    text-align: center;
}

article {
    text-align: center;
}

figure {
    text-align: center;
    width: 25%;
    height: 25%;
    border: 0;
}

footer {
    text-align: center;
}

aside {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
}

main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Responsive */
@media (max-width:768px) {
    .movil {
        flex-direction: colum;
    }
}

.movil {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "header"
    "nav"
    "contenido"
    "footer";
}
header {
    grid-area: header;
    background: rgb(47, 156, 251);
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    grid-area: nav;
    background: rgb(103, 184, 254);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
nav a {
    color: rgb(8, 40, 53);
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}