.resultado { 
    text-align: center; 
}
.table-dark{
    font-size: 55px;
}
.table-primary{
    font-size: 25px;
    vertical-align: middle;
}
.table-secondary{
    font-size: 40px;
    vertical-align: middle;
}
.table-warning{
    font-size: 20px;
    vertical-align: middle;
}