.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.galeria img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
h2{
    text-align: center;
}