footer {
    text-align: center;
}
nav {
    text-align: center;
}

/* Responsive */
@media (max-width:768px) {
    .movil {
        flex-direction: colum;
    }
}

body {
    color: skyblue;
}

h1 {
    text-align: center;
    size: 100px;
    color:rgb(50, 84, 177)
}

p {
    text-align: center;
    font-size: 25px;
    color: rgb(76, 154, 237);
    font-family: 'Times New Roman', Times, serif;
}

footer {
    text-align: center;
}